body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space:normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.jumbotron{
    background-image:url(../Images/Blurrybooks.jpg);
    background-position:bottom;
    height:200px;
    text-align:center;
    color: white;
    border-radius:0px !important;
    overflow:hidden;
}
.jumbotron h1{
    font-weight:bold;
}
h2 .registration, a{
    color:darkgrey;
    text-decoration:none !important;
}
h2 .registration, a:hover{
    color:darkgrey;
}
.col-md-6{
    text-align:center;
}
.navbar{
        border-top:1px solid;
    border-color:black;
}
p, #about{
    line-height:30px;
}
.menuRight{
    padding-left:25px !important;
    padding-right:25px !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 0px;
  background-color: #e9e9e9;
  padding-left:20px;
}

