@{
    ViewBag.Title = "Home Page";
}
@*<div class="jumbotron">
    <h1>STUDENT ENROLLMENT</h1>
    <p class="lead">REGISTRATION DATABASE</p>
</div>*@

<div class="row">
    <div class="col-md-12 indexOptions">
            <h2 class="registration">@Html.ActionLink("NEW REGISTRATION", "Create", "Students")</h2>
            <h2>@Html.ActionLink("VIEW STUDENT LIST", "Index", "Students")</h2>
    </div>
    @*<div class="col-md-6" id="registrationRight">
        <h2>@Html.ActionLink("-VIEW STUDENT LIST-", "Index", "Students")</h2>
    </div>*@
</div>
