@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 indexOptions">

        <h2 class="registration">@Html.ActionLink("VIEW STUDENT LIST", "Index", "Students")</h2>
        <h2 class="registration">@Html.ActionLink("NEW REGISTRATION", "Create", "Students")</h2>

    </div>
</div>
